@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Quicksand;
  src: url(assets/Quicksand-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Quicksand;
  src: url(assets/Quicksand-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Quicksand;
  src: url(assets/Quicksand-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Poppins;
  src: url(assets/Poppins-Regular.ttf);
}

body {
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--light-blue);
}

.slidein {
  animation-name: slidein;
  animation-duration: 300ms;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
