@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Quicksand;
  src: url(assets/Quicksand-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Quicksand;
  src: url(assets/Quicksand-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Quicksand;
  src: url(assets/Quicksand-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Poppins;
  src: url(assets/Poppins-Regular.ttf);
}

body {
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.slidein-left {
  animation-name: slidein-left;
  animation-duration: 300ms;
}

.slidein-right {
  animation-name: slidein-right;
  animation-duration: 300ms;
}

.wave {
  animation-name: wave;
  animation-duration: 200ms;
  animation-iteration-count: 2;
}

.swap {
  animation-name: swap;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
}

.bounce-in-right {
  animation-name: bounce-in-right;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes slidein-right {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slidein-left {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swap {
  0% {
    z-index: 0;
  }

  49% {
    z-index: 0;
  }

  50% {
    transform: translateX(100%);
    z-index: 1000;
  }

  100% {
    transform: translateX(0%);
    z-index: 1000;
  }
}

.nav-link-mobile-enter {
  transform: translateX(-120%);
}
.nav-link-mobile-enter-active {
  transform: translateX(0%);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-link-mobile-enter-done {
  transform: translateX(0%);
}
.nav-link-mobile-exit {
  transform: translateX(0);
}
.nav-link-mobile-exit-active {
  transform: translateX(-120%);
  transition: transform 300ms;
  transition-timing-function: ease-in-out;
}

.nav-link {
  animation-name: drop-down;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.33, 0.98, 0.57, 1.42);
}

@keyframes drop-down {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0%);
  }
}
